<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284423097387-jth29al2cu2hrth6djpmu6k42hipiavc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284423097387-jth29al2cu2hrth6djpmu6k42hipiavc</string>
	<key>API_KEY</key>
	<string>AIzaSyD2XOez2koSAvLzAsCAV9ONuNEqhojo5NI</string>
	<key>GCM_SENDER_ID</key>
	<string>284423097387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DomenicoGonnelli.FarmSound</string>
	<key>PROJECT_ID</key>
	<string>farmsound-601bd</string>
	<key>STORAGE_BUCKET</key>
	<string>farmsound-601bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284423097387:ios:d5feaa3b78510210</string>
	<key>DATABASE_URL</key>
	<string>https://farmsound-601bd.firebaseio.com</string>
</dict>
</plist>